body {
  
  background-color: #fafdff;
  min-width: 450px;  

  font-family: 'roboto',sans-serif,'Open Sans', sans-serif !important;
    font-size: 1em;

}

html body {
margin:0;
padding:0;
width: 100%;
height:100%; 

}

.header {


  width:100%;
  height: 117px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}


.logo {

padding-top: 40px;


}


.tab {
  display: none;
  margin-top: 50px;

}


#tit1 {
    margin: 0 ;
    margin-left: 10px;
    padding-top: 21px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight:bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.02em;
    color: #333333;
    padding-bottom: 50px;
    padding-top: 40px;
}


#p1 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #3BA616;
    float:left;
    margin-left: 30px;
       
}


#p2 {

margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #3BA616;
    float:left;
    margin-left: 20px;



}


#p3 {

margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #3BA616;
    float:left;
    



}


.title1 {


max-width: 550px;

}



.title2 {


max-width: 400px;

}


.title3 {

width: 241px;
float:;


}

.tab {


 
}


#kindofgreeting, #typeofcard {

    margin:0;
    background: #3150CF;
    border-radius: 10px 10px 10px 10px;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    display: inline;
    width: 250px;
    height: 55px;
    color: white;
    text-align: center;

    font-size: 15px;
    font-family: 'FontAwesome','roboto';
    text-align-last: center;
    -webkit-appearance: none;
    text-transform: uppercase;

}




#typeofcard > option{
    background: white;
    color: #444;



}


#kindofgreeting > option {

  background: white;
    color: #444;

}

#nextBtn {



   
    display: block;
    margin: 0 auto;
  padding: 12px 57px;
    background: #3BA616;
    box-shadow: 2px 4px 4px rgba(154, 225, 130, 0.57);
    border-radius: 10px;
    text-align: center;
  text-decoration: none;
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
     margin:0 auto;
     margin-top:70px;
     
     border-style: none; 
     outline-style: none;
}


#nextBtn:hover {

  background:#2f8712 ;
}

#nextBtn.focus, #nextBtn:focus {
    outline: 0;
    box-shadow: none!important;
}

label, h1 {


    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #333333;
   float:left;
   

}





.dategender {

display: flex;

}


input[type=text]{
    margin: 23px 0 30px 0;
    width: 445px;
    height: 43px;
    background: #FFFFFF;
    border: hidden;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
   font-size: 20px;
   padding-left: 10px;
}


.reciever {

width: 400px;


}


.firstlastrelationship {


padding-top: 0px;
width: 100%;

}



.gender {


  margin-left: 140px;
}

#firstName,#lastName, #relationship {


   width: 100% !important;
   max-width: none !important;



}





a:visited {color:black;}

.username {

float:right;
margin: 0 ;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight:bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.02em;
    color: #333333;
  padding-right: 20px;



}

#plantab {



}


.plans {

  
  display:flex;
  
  display:inline-block;


}

.subscription {

width: 250px;

transition: 0.2s;

}

#middlesubscription {

padding-left: 15px;
padding-right: 15px;


}

.subscription:hover {




}

.plans-container {

text-align: center;
height:300px;

}


#logoimg {

  padding-left: 20px;
}







.cards input[type=radio]{
    display:none
}

.cards input[type=radio]:checked + .card{
-webkit-box-shadow:inset 0px 0px 0px 5px blue;
    -moz-box-shadow:inset 0px 0px 0px 5px blue;
    box-shadow:inset 0px 0px 0px 5px blue;
}


.cards-container {
text-align: center;
max-width: 1100px;
}




.cards  {

  
  display:flex;
  
  display:inline-block;


}


.card {

margin-left: 20px;
margin-bottom:20px;
background-color: grey;
width:250px;
height:250px;
cursor:pointer;
border-radius: 10px;
position: relative;
line-height: 250px;
}

.bday, .ann  {

display:inline-block;
text-align: center;
text-decoration: none;

}

.navb{

float:right;
margin-top: 6px;
margin-right: 65px; 
}

ul {

 
  color:white;

}


li {

  display: inline;


padding-left: 80px;





}

.navb-li {


  text-decoration: none; 


  color:#333333;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

letter-spacing: 0.02em;




}

@media screen and (max-width: 860px) {.orders-container { margin-left: 0px; text-align: center;}}

@media screen and (max-width: 880px) {.navb, .logout, .username { display:none;}}


.logout {
float: right;
margin-right: 65px;
margin-top:-10px;
text-decoration: none;
font-weight: bold;
text-align: center;
width: 144px;
height: 51px;
line-height:51px;
background: #E19930;
box-shadow: 3px 4px 4px rgba(24, 57, 107, 0.1);
border-radius: 13px;
color:white;
transition: 0.2s;
}

.logout:hover {


opacity: 0.8;
}

/** Card css **/

body {
  
  background-color: #fafdff;
  min-width: 450px;  

}

html body {
margin:0;
padding:0;
width: 100%;
height:100%;

}

.header {


  width:100%;
 height: 117px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

#logoimg {

  padding-left: 20px;
}

.logo {

padding-top: 40px;


}

.logout {
float: right;
margin-right: 65px;
margin-top:-10px;
text-decoration: none;
font-weight: bold;
text-align: center;
width: 144px;
height: 51px;
line-height:51px;
background: #E19930;
box-shadow: 3px 4px 4px rgba(24, 57, 107, 0.1);
border-radius: 13px;
color:white;
transition: 0.2s;
}

.logout:hover {


opacity: 0.8;
}

.username {

float:right;
margin: 0 ;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight:bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.02em;
    color: #333333;
  padding-right: 20px;



}

.orders-container {


margin-top: 100px;
max-width: 1190px;
margin-left: 8%;
}

.orders-container-wrapper {



}


.pencil {

  position: absolute;
  top:10px;
  left:10px;
  opacity: 0.2;
  transition: 0.2s;
}


.pencil:hover {

opacity: 1;



}




.orders {

  
  display:flex;
  
  display:inline-block;

}

.order {

border: none;

  text-decoration: none;
  text-align: center;
  position: relative;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  
  margin-right: 20px;
margin-bottom:  20px;
background-color: #2C4052;
}

.addnew {


background-color: #365B69;
  border: none;
  
  opacity: 0.57;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 20px;
margin-bottom:  20px;
position: relative;

}


.order, .addnew {

 height: 383px;
  width: 374px;


}

.card-panel {

height: 383px;
  width: 374px;

}

.dots {


  
  width: 140px;
  

 
  

position:absolute;
top:240px;
right:0px;
}







.yourcards{

font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight:bold;
    font-size: 42px;
    line-height: 33px;
    letter-spacing: 0.02em;
    color: #333333;
position: absolute;

margin-left:8%;
min-width: 209px;
}





.addnew:hover {

  opacity: 1;



}


.plus {

border: none;
  
  width: 120px;
  
  
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  
  

position:absolute;
top:108.5px;
right:127px;
}

.carddata {


position:absolute;
padding-left: 30px;
padding-top: 35px;
}

.card-data {


font-family: 'Roboto', sans-serif;
    font-style: normal;
    
    line-height: 33px;
    letter-spacing: 0.02em;
    color: white;
text-align: left;

}

#card-name {

font-weight:bold;
font-size: 28px;
padding-top: 25px

}


#name {

font-weight:bold;
font-size: 28px;
margin-top: -10px;

}

#card-age {
font-size: 21px;
padding-top: 5px;
}


#card-rel1 {

font-size: 16px;


}

#card-rel2 {

font-size: 21px;
font-weight:bold;

}


#card-date1 {

font-size: 16px;

padding-bottom: 10px;
}

#card-date2 {

font-size: 21px;
font-weight:bold;
border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 10px;
 width: 210px;
 height: 50px;
 text-align: center;
 vertical-align: center;
 line-height: 50px;

}

.navb{

float:right;
margin-top: 6px;
margin-right: 65px; 
}

ul {

 
  color:white;

}


li {

  display: inline;


padding-left: 80px;





}

.navb-li {text-decoration: none; 


  color:#333333;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

letter-spacing: 0.02em;




}

@media screen and (max-width: 860px) {.orders-container { margin-left: 0px; text-align: center;}}

@media screen and (max-width: 880px) {.navb, .logout, .username { display:none;}}

